version: "3.8"
services:
  mysql8.0:
    image: "mysql:8.0.31"
    ports:
      - "13316:3306"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    healthcheck:
      test: mysqladmin -u root -h 127.0.0.1 -P 3306 ping
      interval: 1s
      timeout: 5s
      retries: 60
  mysql5.7:
    image: "mysql:5.7.40"
    ports:
      - "13317:3306"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    healthcheck:
      test: mysqladmin -u root -h 127.0.0.1 -P 3306 ping
      interval: 1s
      timeout: 5s
      retries: 60
  mysql5.6:
    image: "mysql:5.6.51"
    ports:
      - "13318:3306"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    healthcheck:
      test: mysqladmin -u root -h 127.0.0.1 -P 3306 ping
      interval: 1s
      timeout: 5s
      retries: 60
  mysql5.5:
    image: "mysql:5.5.62"
    ports:
      - "13319:3306"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    healthcheck:
      test: mysqladmin -u root -h 127.0.0.1 -P 3306 ping
      interval: 1s
      timeout: 5s
      retries: 60
  postgresql15:
    image: "postgres:15"
    ports:
      - "15442:5432"
    environment:
      POSTGRES_PASSWORD: password
    healthcheck:
      test: pg_isready -U postgres -h 127.0.0.1 -p 5432
      interval: 1s
      timeout: 5s
      retries: 60
  postgresql14:
    image: "postgres:14"
    ports:
      - "15443:5432"
    environment:
      POSTGRES_PASSWORD: password
    healthcheck:
      test: pg_isready -U postgres -h 127.0.0.1 -p 5432
      interval: 1s
      timeout: 5s
      retries: 60
  postgresql13:
    image: "postgres:13"
    ports:
      - "15444:5432"
    environment:
      POSTGRES_PASSWORD: password
    healthcheck:
      test: pg_isready -U postgres -h 127.0.0.1 -p 5432
      interval: 1s
      timeout: 5s
      retries: 60
  postgresql12:
    image: "postgres:12"
    ports:
      - "15445:5432"
    environment:
      POSTGRES_PASSWORD: password
    healthcheck:
      test: pg_isready -U postgres -h 127.0.0.1 -p 5432
      interval: 1s
      timeout: 5s
      retries: 60
  postgresql11:
    image: "postgres:11"
    ports:
      - "15446:5432"
    environment:
      POSTGRES_PASSWORD: password
    healthcheck:
      test: pg_isready -U postgres -h 127.0.0.1 -p 5432
      interval: 1s
      timeout: 5s
      retries: 60
  postgresql10:
    image: "postgres:10"
    ports:
      - "15447:5432"
    environment:
      POSTGRES_PASSWORD: password
    healthcheck:
      test: pg_isready -U postgres -h 127.0.0.1 -p 5432
      interval: 1s
      timeout: 5s
      retries: 60
